<h1 class="container text-primary">Login Form</h1> <hr>

<form (submit)="onSubmit()" class="container">

    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" autocomplete="username" required >
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password" autocomplete="current-password" required>
    </div>

    <button type="submit" class="btn btn-primary">Login</button>

</form>
